{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./src/frontend/components",
        "store": "./src/frontend/store",
        "test": "./test",
        "routes": "./src/routes"
      }
    }]
  ]
}